.header {
  width: 100%;
}

.nav {
  padding: 0 5%;
  display: flex;
  align-items: center;        /* 수직 중앙 정렬 */
  justify-content: space-between; /* 좌 / 우 끝 배치 */
}

.logo img {
  height: 53px;
  display: block;
}

.menu {
    display: flex;
    gap: 16px;
    color: black;
    
}

.menu a {
  white-space: nowrap;
  word-break: keep-all;
  text-decoration: none;
}

.menu a:visited {
  color: inherit;
  text-decoration: none;
}